<div class="container">
  <h1>Welcome to Our Data Navigation Site</h1>

  <h2>Cities</h2>
  <ul>
    <% @cities.each do |city| %>
      <li><%= link_to city.name, city_path(city) %></li>
    <% end %>
  </ul>
  <%= paginate @cities %> <!-- Pagination for Cities -->

  <h2>Health Data</h2>
  <ul>
    <% @health_data.each do |data| %>
      <li><%= link_to "Health Data for #{data.region} - #{data.year}", health_data_path(data) %></li>
    <% end %>
  </ul>
  <%= paginate @health_data %> <!-- Pagination for Health Data -->

  <h2>Search</h2>
<ul>
  <%= form_with(url: root_path, method: :get, local: true) do |form| %>
    <%= form.label :query, "Search Cities" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  <% end %>
</ul>

<h2>Hierarchical Search</h2>
<ul>
<%= form_with(url: root_path, method: :get, local: true) do |form| %>
  <%= form.label :query, "Search Cities" %>
  <%= form.text_field :query %>
  <%= form.label :region, "Filter by Region" %>
  <%= form.select :region, HealthData.pluck(:region).uniq, include_blank: true %>
  <%= form.submit "Search" %>
<% end %>
</ul>
</div>
