<div class="container">
  <h1><%= @city.name %>, <%= @city.state %></h1>

  <h2>Health Data</h2>
  <% if @health_data.any? %>
    <ul>
      <% @health_data.each do |data| %>
        <li>
          Year: <%= data.year %>,
          Disease Prevalence: <%= data.disease_prevalence %>%,
          Vaccination Rate: <%= data.vaccination_rate %>%
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No health data available for this city.</p>
  <% end %>
</div>
